.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dfeffe;
}

.container {
  overflow: auto;
  margin: auto;
  padding: 10px;
  background-color: #374353;
}

.header {
  position: relative;
  background: wheat;
  border-radius: 5px;
  margin-bottom: 10px;
  border-top: 23px #ffffff4f;
  border-left: 23px #ffffff8c;
  display: flex;
  padding: 7px 13px;
  justify-content: space-between;
}

.header-item {
  border: solid 0.5px wheat;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: wheat;
  color: rgb(55, 67, 83);
  font-weight: bold;
  padding: 2px 5px;
  display: flex;
  font-size: 0.9rem;
}

.board {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  position: relative;
}

.paused {
  position: absolute;
  background-color: #476a65f2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #f5deb3;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}

.row {
  white-space: nowrap;
}

.cell {
  position: relative;
  box-sizing: border-box;
  line-height: 25px;
  height: 30px;
  width: 30px;
  border: 1.5px solid rgb(169 169 169);
  background-color: rgb(175 175 175);
  display: inline-block;
  vertical-align: middle;
}

.cell__img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cell--closed {
  background-color: rgb(192 192 192);
  border-top: 1.5px solid rgb(255, 255, 255);
  border-left: 1.5px solid rgb(255, 255, 255);
  border-bottom: 1.5px solid rgb(0, 0, 0);
  border-right: 1.5px solid rgb(0, 0, 0);
}

.no_selection {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.emoji {
  position: absolute;
  font-size: 1.5rem;
  top: 16%;
  left: 45%;
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px black);
}

.counter {
  min-width: 43px;
  display: flex;
  border-radius: 12px;
  color: wheat;
  font-family: Orbitron;
  background-color: rgb(55, 67, 83);
  padding: 3px 15px;
}

.counter-ico {
  height: 18px;
  width: 18px;
  margin: 4px;
}

.counter-num {
  font-size: 1.5rem;
  margin-left: 3px;
}

.mine-clicked {
  background-color: red;
}

.wrong-flag {
  background-color: rgb(255 178 178);
}

.cell__color-1 {
  color: green;
}
.cell__color-2 {
  color: rgb(0, 2, 128);
}
.cell__color-3 {
  color: rgb(204, 35, 255);
}
.cell__color-4 {
  color: rgb(128, 0, 32);
}
.cell__color-5 {
  color: rgb(119, 128, 0);
}
.cell__color-6 {
  color: rgb(126, 0, 199);
}
.cell__color-7 {
  color: rgb(255, 174, 0);
}
.cell__color-8 {
  color: rgb(7, 255, 255);
}

.test-width {
  width: 92%;
  height: 92%;
  overflow: hidden;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.scrollable {
  overflow: scroll;
  width: 100%;
  height: 84%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
